#logo{
	position: relative;
	margin-left: 50px; 
}
#p_ladrillo{
	position: relative;
	padding:  100px 100px;
	background-image: url('img/grid_background.png');
	background-color: #ef6b54;
}
#fondo_img{
	position: relative;
	width: ;
}
/*float: left*/
h2{
	margin: 0px
}
#up_letras{
	position: relative;
	color: white;
	text-align: center;
	font-family:monospace;
	font-size: 200%;	
	margin-bottom: 15px 
}
.cuadro{
	width: 100%;
	height: 25px;
	position: relative;
	margin-left: 300px;
}
.cuadro{
	margin: 0 auto;
	width: 488px;

}
#nombre{ 
	float: left;
}
#email{
	position: absolute;
	margin-left: 20px; 
}
#telefono{
	float: left;
}
#zip{
	position: absolute;
	margin-left: 20px 
}
#direccion{
	width: 488px;
}
#mes{
	background-color: #57BBEC;
	color: white;
	font-family: monospace;
	font-size: 200%;
	text-align:center;
	width: 500px;
	margin-top: 10px; 
}
#calendario{
	color: white;
	width: 500px;
	height: 300px;
	margin: 0 auto;
	background-color: white;
}
#up_calendario{
	width: 400px;
	height: 60px;
	margin: 0 auto;
	padding-left: 100px;
}
.redondo{
	border-radius: 50px;
	width: 45px;
	height: 45px;
	background-color: #38393D;
	margin: 10px 0 0 10px ; 
	border: 3px double #E8E6E7;
	float:left; 
}
.letras{
	color: #fff;	
	position: absolute;
	margin-left: 17px;
	margin-top: 10px;
	font-family: monospace;
	font-size: 180%; 
}
#dow_calendario{
	width: 400px;
	height: 210px;
	background-color: #fff;
	margin: 0 auto;
}
.filas{
	width: 350px;
	height: 40px;
	margin: 0 auto;
	left: 30px;
	position: relative; 
	top: 5px;
}
.redonditos{
	border-radius: 50px;
	width: 35px;
	height: 35px;
	background-color: #E8E6E7;
	border: 4px double white;
	float: left;
	margin: 0 10px 0 10px;
}
.numeros{
	color: #38393D;
	text-align: center;
	margin-top: 8;
}
#p_gris{
	position: relative;
	padding:  100px 100px;
	background-color: #E8E6E7;
	height: 400px;
	
}
#up_letra{
	position: relative;
	text-align: center;
	color: #38393D;
	font-size: 150%;
	top:-70px;
}
.dow_contener{
	position: relative;
	width: 150px;
	height: 380px;
	float: left;
	margin-left: 40px;

}
.subtitulos{
	color: #38393D;
	position: relative;
	font-size: 14px;
	text-align: center;
	margin: 8px;
}
.redondo_dow{
	left: 40px;
	position: relative;
	text-align: center; 
	border-radius: 50px;
	width: 45px;
	height: 45px;
	background-color: #38393D;
	margin: 10px 0 0 10px ; 
	border: 3px double #E8E6E7;
}
.drop_dow{
	position: relative;
	text-align: center;
}
.checks{
	font-size: 13px;
	font-family: monospace;
}
.delivery{
	background-color: #57BBEC;
	color: white;
	text-indent: 10px;
	width: 130px;
	margin-top: 20px;

}
.cir_pequenos{
	border-radius: 50px;
	width: 12px;
	height: 12px;
	background-color: #fff;
	margin: 0 0 0 10px ;
	position: relative; 
	float: right;
	bottom: 15px;
	right: 10px; 
}
.right_line{
	position: absolute;
	height: 300px;
	width: 4px;
	background-color: white;
	left: 145px;
	top: 67px
}
#dow_botton{
	position: absolute;
	font-family: monospace;
	background-color: #ef6b54;
	width: 200px;
	height: 50px;
	top: 530px;
	text-align: center;
	left: 500px;
	color: white;
}
footer{
	position: relative;
	float: left;
	height: 200px;
	width: 600px;
	left: 320px
}
footer .f{
	position: relative;
	margin: 80px 0 50px 100px;
	float: left; 
	color: #38393D; 
	text-align: center;
}
#linea{
	background-color: #E8E6E7;
	position: relative;
	width: 800px;
	height: 1px;
	margin: 120px 0 80px -150px;
}
#logo2{
	margin-left: 150px;
}
